:root{
    --main-bg-color : #fafafa;
    --main-element-color : black;
    --main-theme-color : #00695C;
    --main-header-color :#CFD8DC;
}
body{
    background-image: linear-gradient(#004D40, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-header{
    background-color: var(--main-header-color);
    border-radius: 30px;
    margin: 10px 30px 10px 30px;
}

.masthead-brand{
    font-size: 50px;
    font-family:'Lobster', cursive;
    /* margin-left: 50px; */
    padding: 8px 10px 10px 20px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.one{
    width: 15%;
    height: 75px;
    float: left;
    /*  */
}
.two{
    /* width: 75%; */
    margin-left: 15%;
    height: 75px;
    float: right;
}
.brandLogo{
    font-weight: 500 !important;
    text-decoration: none !important;
    color: var(--main-element-color);
}
a,
a:focus{
    color: var(--main-element-color) !important;
}
a:hover {
  color: var(--main-theme-color) !important;
}
.inner{
    width: 100%;
    height: 75px;
    margin: auto;
}
.nav-masthead{
    padding: 19px 10px 10px 20px;
    height: auto;
    margin: 0 25px 0 auto;
    position: relative;
}
.nav-link{
    font-weight: 500;
    color: var(--main-element-color) !important;
}

a.nav-bar-items{
    font-size: 17px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif !important;
    transition: transform .2s;
  }
a.nav-bar-items:hover{
    transform: scale(1.15); 
}
.nav-masthead .burger{
    display: none;
    position: absolute;
}
@media screen and (max-width: 600px) {
    .nav-masthead a:not(:first-child) {display: none;}
    .nav-masthead a.burger {
    float: right;
    display: block;
    height: auto;
    margin: 0 0 0 auto;
    right: 0em;
    }
    .masthead-brand{
        padding-top: 8px !important;
    }
    .nav-masthead{
        padding: 25px 100px 10px 20px;
    }
    .main-header{
        margin: 10px 10px 10px 10px;
    }
    @media screen and (max-width: 420px) {
        .nav-masthead{
            padding: 25px 130px 10px 20px;
        }
    }
    @media screen and (max-width: 375px) {
        .nav-masthead{
            padding: 25px 100px 10px 20px;
        }
    }
    @media screen and (max-width: 320px) {
        .nav-masthead{
            padding: 25px 80px 10px 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .nav-masthead.responsive {position: relative;}
    .nav-masthead.responsive a.burger {
        /* position: absolute; */
        right: 0;
        top: 0;
    }
    .nav-masthead.responsive a {
        float: right;
        display: block;
        text-align: left;
    }
    a.nav-bar-items{
        display: none;
      }  
}
.hero-image{
    width: 80%;
    vertical-align: middle;
}