.navbar-collapse{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-grow: 1;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* padding: .5rem 1rem; */
}

.collapse:not(.show) {
    display: none;
    
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    
}

.nav-item{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: black !important;

}

.nav-item:hover{
    color: #880e4f;
    text-decoration: none !important;
}

.nav-link-items{
    text-decoration: none !important;
    border-bottom:#424242 !important;
    border-bottom-width: 0.5px;
}
a.nav-link-items{
  color: black !important;
  font-family:'Quicksand', sans-serif;
}

.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}