.project-cards{
    width: 100%;
    height: 100%;
    padding: 30px 50px 0px 50px;
    margin-left: auto;
    margin-right: auto;
}

h1.my-projects{
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 600px) {
    h1.my-projects{
        font-size: 2em !important;
    }
}
.MuiCardActions-root{
    padding: 0px !important;
}
.MuiGrid-grid-xs-12 {
   max-width: none !important;
   padding: 0 20px 0 20px !important;
}
.MuiCardActionArea-root{
    text-align: center !important;
}
.MuiCardMedia-img{
    /* display: block !important; */
    /* margin: auto !important; */
    object-fit: fill !important;
}